<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", inital-scale="1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="topnav">
        <a href = "/" style="width:30%">Home</a>
        <a href = "/random" style="width:30%">Random</a>
        <a href = "/browse/a" style="width:30%">List</a>
    </div>

    <div class="centre">
        <h2>
            <a href="/browse/a">A</a>
             /
            <a href="/browse/b">B</a>
             /
            <a href="/browse/c">C</a>
             /
            <a href="/browse/d">D</a>
             /
            <a href="/browse/e">E</a>
             /
            <a href="/browse/f">F</a>
             /
            <a href="/browse/g">G</a>
             /
            <a href="/browse/h">H</a>
             /
            <a href="/browse/i">I</a>
             /
            <a href="/browse/j">J</a>
             /
            <a href="/browse/k">K</a>
             /
            <a href="/browse/l">L</a>
             /
            <a href="/browse/m">M</a>
             /
            <a href="/browse/n">N</a>
             /
            <a href="/browse/o">O</a>
             /
            <a href="/browse/p">P</a>
             /
            <a href="/browse/q">Q</a>
             /
            <a href="/browse/r">R</a>
             /
            <a href="/browse/s">S</a>
             /
            <a href="/browse/t">T</a>
             /
            <a href="/browse/u">U</a>
             /
            <a href="/browse/v">V</a>
             /
            <a href="/browse/w">W</a>
             /
            <a href="/browse/x">X</a>
             /
            <a href="/browse/y">Y</a>
             /
            <a href="/browse/z">Z</a>
        </h2>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>


    <div class="footer">

    </div>

</body>
</html>