<style>
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*  Style the body */
body {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;

}

/* Style images */
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
}

/* Style the centre headings */
.centre h2{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Style the centre */
.centre {
    text-align: centre;
    padding-bottom: 10px;
}

/* Style the centre links */
.centre a{
    color: #a78d9b;
    align: centre;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition:  color 300ms, background-color 300ms;
    transition:  color 300ms, background-color 300ms;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}
</style>